body {
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    border: none;
    font-size: 1.25em;
    font-weight: 600;
    padding: 10px;
    color: #ffffff;
    background: #FF900E;
    border-radius: 8px;
}

/* Header styles */
.header {
    /* margin: 0 200px; */
    background: rgba(255, 144, 14, 0.1);
}

/* Navigation styles */
.nav-container {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.hamburger {
    display: none;
}

.nav-title {
    color: #131313;
    font-size: 2vw;
    font-weight: 700;
}

.nav-item-container {
    display: flex;
    gap: 20px;

}

ul li {
    list-style: none;

}

ul li a {
    text-decoration: none;
    color: #424242;
}

/* Banner styles */
.banner-container {
    margin: 0 10%;
    text-align: center;
}

.banner-title {
    font-size: 6vw;
    font-weight: 700;
    color: #131313;
    /* font-family: 'Work Sans', sans-serif; */
}

.banner-description,
.loveable-features-description,
.features-description,
.facts-description,
.sponsors-description {
    font-size: 1.5vw;
    color: #727272;
    margin-bottom: 3vw;
}

.banner-image img {
    margin: 3vw 0;
    width: 100%;
    border-radius: 8px;

}

/* Main section styles */
/* Quick feature styles */
.quick-feature-container {
    display: flex;
    justify-content: space-evenly;
    margin: 8% 12%;
    gap: 5vw;

}

.quick-feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    flex: 0 1 auto;

}

.quick-feature-img img {
    /* max-width: 100%; */
    width: 20vw;
}

.quick-feature-title {
    font-size: 2.5vw;
    color: #131313;
    font-weight: 700;
}

.quick-list {
    font-weight: 500;
    color: #727272;
}

.of-our {
    font-weight: 700;
    color: #131313;
}

.features {
    font-weight: 700;
    color: #FF900E;
}

/* Loveable features section */
.loveable-features-container {
    display: flex;
    gap: 5vw;
    margin: 5% 10%;
}

.features-head {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.vline {
    border-left: 4px solid #FF900E;
    height: 6vw;

}

.loveable-features-title,
.facts-title,
.sponsors-title {
    color: #131313;
    font-size: 2.5vw;
    font-weight: 700;
}



.loveable-features-img img {
    width: 45vw;
    border-radius: 8px;
}

.loveable-features-img button {
    font-size: 3vw;
    padding: 1.5vw;
    /* z-index: 2; */
    position: relative;
    left: 64.2%;
    bottom: 14.1%;
    border-radius: 8px;
    transition: transform 2s ease-in-out;

}

.loveable-features-img .primary-btn:hover {
    transform: rotate(360deg);

}

.primary-btn .exp {
    font-size: 1vw;
    font-weight: 700;
}

.features-item {
    padding: 1vw;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    margin-bottom: 2vw;
}

.features-title {
    font-size: 1.8vw;
    font-weight: 600;
    color: #131313;
}

/* Facts section */
.facts {
    margin: 8% 10%;
}

.facts-description {
    width: 50%;
}

.facts-item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.facts-item {
    border: 1px solid #FF900E;
    text-align: center;
    padding: 1.5vw 2vw;
    border-radius: 8px;
    transition: border 2s linear;
}

.facts-item:hover {
    border: 3px solid sandybrown;
}

.facts-item-icon {
    color: #FF900E;
    font-size: 3vw;
}

.facts-number {
    font-size: 2vw;
    font-weight: 700;
    color: #424242;
    margin-top: 1vw;

}

.facts-item-title {
    font-size: 1.5vw;
    font-weight: 500;
    color: #727272;
}

/* Sponsors section styles */
.sponsors {
    margin: 8% 10%;
}

.sponsors-info {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.sponsors-logo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sponsors-logo img {
    filter: sepia(100%);

}

.footer {
    background-color: #FFF4E7;
    text-align: center;
    margin: 0 10%;
}

.footer-text {
    padding: 3vw;
    color: #424242;
    font-size: 1.5vw;
}

/* Responsiveness styles */
/* ------------------------
--------Smaller devices -------*/
@media screen and (max-width: 576px) {

    /* Navigation section styles for smaller devices */
    .nav-item-container {
        display: none;
    }

    .hamburger {
        display: flex;
        color: #424242;
        font-size: 24px;
    }

    .nav-container {
        justify-content: space-between;
    }

    .nav-title {
        font-size: 24px;
    }

    /* Quick features responsiveness */
    .quick-feature-container {
        flex-direction: column-reverse;
    }

    .quick-feature-img img {
        width: 40vw;
    }

    /* Loveable features section */
    .loveable-features-container {
        flex-direction: column;
    }

    .loveable-features-img {
        text-align: center;
    }

    .loveable-features-img img {
        width: 80vw;
        margin-bottom: 2vw;
    }

    .loveable-features-img button {

        position: static;
    }

    /* Facts responsiveness */
    .facts-description {
        width: 80%;
    }

    .facts-item-container {
        /* display: flex; */
        flex-wrap: wrap;
        row-gap: 2vw;
        justify-content: space-evenly;
        align-items: center;
    }

    /* Sponsors section responsive styles */
    .sponsors-logo-container {
        flex-wrap: wrap;
        /* row-gap: 2vw;
        column-gap: 2vw; */
        gap: 2vw;
    }

    .sponsors-logo img {
        width: 30vw;
    }



}